<html>
<center>

<body style="background-color:#5EDED8;">


<h1> Welcome to Arcade Crawlers: The Game Forum!!!</h1>


<a href = "/about">About Us</a> <a href = "/xbox">Xbox</a> <a href = "/ps4">PS4</a>
<a href = "/xbox"><img src="http://compass.xbox.com/assets/a9/d0/a9d03015-2760-43df-8056-d23af1969289.gif?n=xbox_facebook_200x200.gif" style="position: relative; top: 230px; right: 50px; bottom: 300px; height:400px; width:400px; "></a>
<a href = "/ps4"><img src="http://cdn.images.dailystar.co.uk/dynamic/184/photos/899000/620x/Sony-PlayStation-logo-610152.jpg" style=" position: relative; top: 230px; right: -260px; bottom: 300px; height: 400px; width: 400px"></a>

<img src = "resources/photoshop.png" style= "position: relative; left: -500px; height:350px; width: 400px; top: -100px; z-index: 3; "></img>

<p style="position: relative; right: 30px; top: 170px; font-size: 50px; "><font face = "verdana"> Click on which forum you would like to go to. </p>
</center>
</body>


</html>