<html>
<center>

<body style="background-color:#5EDED8;">


<h1 style= "letter-spacing: 2px; color:#D81D1D; "><font face = "impact">WELCOME TO ARCADE CRAWLERS: THE GAME FORUM!!!</h1>
<p style="position: relative; right: -600px; top: 0px; font-size: 25px; display: inline-block; border:3px; border-style:solid; border-color:#FF0000; padding: 1em; "> 
<a href="about">
About Us
</a>
</p>



<a href = "/xbox"><img src="http://compass.xbox.com/assets/a9/d0/a9d03015-2760-43df-8056-d23af1969289.gif?n=xbox_facebook_200x200.gif" style="position: relative; top: 190px; right: 30px; bottom: 300px; height:400px; width:400px; display: inline-block; border: 6px solid #00FF00; "></a>
<a href = "/ps4"><img src="http://cdn.images.dailystar.co.uk/dynamic/184/photos/899000/620x/Sony-PlayStation-logo-610152.jpg" style=" position: relative; top: 190px; right: -240px; bottom: 300px; height: 400px; width: 400px; display: inline-block; border: 6px solid #800080; "></a>

<img src = "resources/photoshop.png" style= "position: relative; left: -460px; height:250px; width: 300px; top: -150px; z-index: 3; "></img>

<p style="position: relative; right: 30px; top: 140px; font-size: 50px; "><font face = "verdana"> Click on which forum you would like to go to. </p>
</center>
</body>


</html>