<html>
<center>
<h1>
<title>
About
</title>
</h1>
</center>

<link rel = "stylesheet"
   type = "text/css"
   href = "/resources/style.css" />
<a href = "/">Home</a> <a href = "/xbox">Xbox</a> <a href = "/ps4">PS4</a>
<center>
<p>This is the About page. Our website is dedicated to provide a forum for individuals to discuss their favourite game consoles and video games freely.<br>We host a multitude of categories, all regarding the video game industry. The main consoles hosted here are Playstation 4, Xbox One, and a combination of both. </br><br>The creators of this website, Arcade Crawlers, are students of Google highly dedicated to attaining a career in Computer Science. Quincy Blackston, Steven Hodge, <br> and Hollys Anaele, are all proud to have made this page for your convenience.</br><br>Thank you, and happy posting!</br></p>
</center>

<center>
<img src = "https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png"></img>
</center>

<img src = "https://upload.wikimedia.org/wikipedia/commons/7/7e/PS4_logo.png" style=" float:left; width:\ 150px;height:150px;"></img>

<img src = "https://cdn.worldvectorlogo.com/logos/xbox-one-2.svg" style=" float:right; width:\150px;height:150px;"></img>



