<!DOCTYPE html>
<html>
<head>


	<title> Welcome to The Game Forum
	</title>
	<p>Click on an image of your choice</p>
	<a href="https://static.gamespot.com/uploads/original/43/434805/3136114-5333268259-plays.jpg">
		<img src="image source" alt="PS4"> 
	</a>
	<a href="http://cdn3-www.playstationlifestyle.net/assets/uploads/2016/04/PlayStation-4-PS4-04-555x328-555x328.jpg">
		<img src="">
	</a>
	</head>
<body>
<a href="{{html_login_url2}}">login</a>
{{ html_comments2 }}
{{user}}
{{count_comment}}
<form method="POST">
What console are you on?
    <input name="form2_platform">
	<br>

What is the game you're discussing?
    <input name="form2_game">
	<br>    
    
What is your username?: 
    <input name="form2_author">
	<br>

    
    <textarea name="form2_comment">
Your post here...
	</textarea>    


	<br/>
	<input type="Submit" />

</form>

</body>
</html>