<!DOCTYPE html>
<html>
<head>
	<title> Welcome to The Game Forum
	</title>
	<p>Click on an image of your choice</p>
	<a href="https://cdn0.vox-cdn.com/uploads/chorus_asset/file/8667595/xboxonex.jpg">
		<img src="image source" alt="Xbox One"> Xbox One
	</a>
	<a href="http://cdn3-www.playstationlifestyle.net/assets/uploads/2016/04/PlayStation-4-PS4-04-555x328-555x328.jpg">
		<img src="">
	</a>
	</head>
<body>
<a href="{{html_login_url}}">login</a>
{{ html_comments }}
{{user}}
{{count_comment}}
<form method="POST">
	Your name: 
    <input name="form_author">
	<br>
    
    <textarea name="form_comment">
	Your comment here...
	</textarea>    

	<br/>
	<input type="Submit"/>

</form>

</body>
</html>